.container {
    text-align: center;
    margin: 30px auto;
}

#timer {
    font-size: 30px;
    border: solid 1px #ccc;
    margin: 30px auto;
    padding: 50px;
    background: #000;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

.btn {
    width: 100%;
}